body {
    background-color: rgb(255, 255, 255);
    font-family: lato;
}

header {
    background-color:rgb(85, 82, 100) ;
    height: 8vh;
    /* margin-bottom: 80px; */
    font-weight: bold;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    .logo {
        
        font-size: 350%;
        color: rgb(225, 226, 246);
    }
    nav {
        ul{
            /* li:first-child {
                padding-left: 0vw;
            } */
            li{ 
                display: inline-block;
                align-items: center;
                font-size: 225%;
                margin-left:8vw;
                a{
                    text-decoration:none;
                    color:rgb(225, 226, 246);
                }
            }
        } 
    }
}

#board {
    width: 480px;
    height: 560px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.tile{
    /* Box */
    border: 2px solid lightgray;
    width: 80px;
    height: 80px;
    margin: 5px;

    /* text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color: white;
}