body {
    background-color: rgb(207, 194, 194);
    font-family: lato;
}

header {
    background-color:rgb(202, 195, 238) ;
    height: 20%;
    margin:-10px;
    .logo, nav {
        display:inline-block;
        justify-content: space-between;
    }
    .logo {
        height:100%;
        margin-left: 10px;
        font-size: 200%;
        color: rgb(0,0,0);
    }
    nav {
        ul{
            
            li:first-child {
                padding-left: 50vw;
            }
            li{ 
                display: inline-block;
                font-size: 200%;
                margin-left:6vw;
                a{
                    text-decoration:none;
                    color:black
                }
            }
        } 
    }
}